<% if obj.errors.any? %>
<div class="row">
<div class="col-md-offset-3 col-md-5">
<div class="panel panel-danger">
<div class="panel heading">
<h1 class="panel-title">
<%= pluralize(obj.errors.count, "error") %>
Probhited this article from being saved</h1>
<div class="panel-body">
<ul>
	<% obj.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>


</ul>
</div>
</div>
</div>
</div>
</div>

<% end%> 